.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  max-width: 1024px;
  position: relative; /* Without this the background lays above the foreground */
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;

  /* top and height weren't really specified but "feel right" this way  */
  top: 10%;
  right: 0;
  height: 80%;
  min-height: 500px;
  
  /* Keep a reasonable size on mobile */
  max-width: 100vw;
}

.controlColumn {
  /* 100% here and 50% on the controlPane children makes mobile styling a bit easier 
  Without that in mind 50% width here would be a bit neater. */
  width: 100%;
}

/* Blue-ish bar in the very background to add some perspective to the scene */
.perspectiveBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background-color: hsl(195deg, 20%, 86%);
}
